body {
  background-image: url("wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-family: "Poppins", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

main.content {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 15px;
}
